/*  your css code here. If applicable */
body{
	background-color: #f5f5f5
}
img{
	
}
.header{
	background-color: #011e29;
	color: white;
	text-align: center;
	padding: 2px;	
}
.main{
	display: flex;
	justify-items: space-evenly;
}
.latest-news-section{
	background-color: white;
	padding: 5px;
	width: 30px;
	
}
.pictorial-news-section{
	background-color: white;
	padding: 5px;
	width: 30px;
	text-align: center;
	border-radius: 5px;
}